/crawl/.idea/
/crawl/bin/
/crawl/pkg/
/crawl/src/go.sum
/DbExample/.idea/
/DbExample/bin/
/DbExample/pkg/
/DbExample/src/go.sum
/TimeCalc/.idea/
/TimeCalc/bin/
/BeegoTest/bin/blog.exe
/BeegoTest/pkg
/BeegoTest/src/blog/blog.exe
/BeegoTest/src/blog/lastupdate.tmp
