1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
	BLOCK "StringFileInfo"
	{
	    BLOCK "080404B0"
	    {
	        VALUE "CompanyName", "Beijing Yuxing Software Co., LTD"
	        VALUE "FileDescription", "Movie Paradise website crawler"
	        VALUE "FileVersion", "1.0.0.0"
	        VALUE "InternalName", "Website crawler"
	        VALUE "LegalCopyright", "Copyright (C)2022 All rights reserved."
	        VALUE "OriginalFilename", "crawl.exe"
	        VALUE "ProductName", "Website crawler"
	        VALUE "ProductVersion", "1.0.0.0"
	    }
	}
	BLOCK "VarFileInfo"
	{
	    VALUE "Translation", 0X0804, 0X04B0
	}
END

IDI_ICON1 ICON "sunbird.ico"